body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    font-size: 100%;
    font-weight: 500;
    overflow-x: hidden;
    background: linear-gradient(to top, gray -20%, #f0f0f0 120%);
    /* background-color: #fff; */
}
.container{
    position: relative;
    overflow-x: hidden;
}
.overContainer{
    box-shadow: 0 0 5px black;
    margin: 20px 150px;
    background-color: #fff;
}
    /*  the headers section */
.imagediv{
    margin: 20px;
    display: flex;
}
/* The apply button */
a.apply{
    margin: 10px 140px 20px 20px;
    background-color: #f84;
    text-decoration: none;
    padding:2px 20px;
    color: #fff;
    border-radius: 4px;
    border-bottom: 2px solid black;
}
a.apply {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  a.apply:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  a.apply:hover, a.apply:focus, a.apply:active {
    color: white;
  }
  a.apply:hover:before, a.apply:focus:before, a.apply:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
/* the Ip accelerator style */
a.accelerator{
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10px 0 0 auto;
    color: gray;
}
.imagediv img{
    height: 50px;
    width: 150px;
    margin: 10px 0 0 130px;
}
.divheading{
    background-image: url("/images/lab-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    position: relative;
}
.seconddiv{
    background-color: #000;
    height: 150px;
    width: 60%;
    position: absolute;
    top: 100px;
    left: 5px;
    border-radius:0 8px 0 0;
}
h1.h1color{
    color:#fff;
    display: block;
    margin:20px 20px;
    font-size: 1.8rem;
}
/* The container maincontainer is inside */
.maincontainer{
    padding:3%;
}
/*  the headings */
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(0, 0,0,.7);
}
/* all p tags on the page */
p{
    color: gray;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.8;
}
sup{
    font-size: .8rem;
}
/* the container that contain all the text and form */
.mainsection{
    display: flex;
}
/* first section the section with text */
.firstsection{
    width: 65%;
    margin-right: 50px;
}
.numberul{
    list-style-type:decimal;
}
.squareul{
    list-style-type: square;
}
ul{
    color: gray;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.8;
}

/* second second the section that contain the forms */
.secondsection{
    width: 30%;
}
img.formimage{
    width:400px;
    height: 300px;
    margin: 0 0 0 -50px;
}
.applyHere{
    margin: -30px 0 20px 0;
}
#form{
    margin:0;
        padding: 20px;
        background-color: white;
        border-radius: 4px;
        font-size: 12px;
        box-shadow: 0 0 2px black;
}
.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 95%;
    outline: none;
}
.input-control select {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 95%;
    outline: none;
}
.input-control textarea {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    padding: 10px;
    min-width: 95%;
    max-width: 95%;
    min-height: 95%;
    max-height: 100px;
    outline: none;
}

#form button{
    border: none;
    border-radius: 8px;
    background-color: #f84;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
}
.sign{
    color: red;
}
p.ipselect{
    margin: 10px 0 5px 0;
}
.copyright p{
    color: #fff;
    text-align: center;
}
@media screen and (max-width:1024px) {
.overContainer{
    margin: 30px 50px;
    }
    a.apply{
        margin: 10px 40px 20px 20px;
        padding:2px 20px;
    }
    /* the Ip accelerator style */
    a.accelerator{
        margin: 10px 0 0 auto;
    }
    .imagediv img{
        margin: 10px 0 0 30px;
    }
    img.formimage{
     display: none;
    }
    .applyHere{
        margin: 30px 0 20px 0;
    }
}
@media screen and (max-width:850px) {      
        .overContainer{
            margin: 30px 10px;
            }
            a.apply{
                margin: 10px 10px 20px 20px;
                padding:2px 20px;
            }
            /* the Ip accelerator style */
            a.accelerator{
                margin: 10px 0 0 auto;
            }
            .imagediv img{
                margin: 10px 0 0 10px;
            }
        h1.h1color{
            font-size: 1.2rem;
        }
    .mainsection{
       flex-direction: column;
    }
    .firstsection{
        width: 100%;
    }
    .secondsection{
        width: 100%;
    }
    h1.h1color{
        font-size: 1.6rem;
        margin:10px 20px;
    }
}
@media screen and (max-width:600px) {
    .overContainer{
        margin: 50px 5px;
        }
        .imagediv{
         flex-direction: column;
        }
        .imagediv img{
            display: block;
            margin: 0 auto;
        }
        /* The apply button */
a.apply{
    background-color: #f84;
    text-decoration: none;
    padding:2px 20px;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 150px;
}
/* the Ip accelerator style */
a.accelerator{
    margin: 10px 0 10px 0;
    text-align: center;
}
        .seconddiv{
            width: 70%;
        }
        h1.h1color{
            font-size: 1.6rem;
            margin:2px 20px;
        }
    .maincontainer{
        margin: 5% 0 0 0;
    }
}
@media screen and (max-width:400px) {
    .overContainer{
        margin: 50px -5px;
        }
        .seconddiv{
            height: 150px;
            width: 90%;
            top: 100px;
        }
        h1.h1color{
            font-size: 1.2rem;
            margin:20px 20px;
        }
        a.apply{
            margin: 0 80px;
        }
/*  the headings */
h1,h2,h3,h4,h5,h6{
    font-size: 1.2rem;
    margin-left: 5px;
}
p{
    margin-left: 5px;
}
}